/* The following block can be included in a custom.scss */


/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    /* max-width: 38rem; */
    padding: 2rem;
}

.duplicateLib {
    background-color: #ff7070;
    color: white;
}

.backup3 {
    background-color: #cdffcd;
}

.backup2 {
    background-color: #eee;
}

.backup1 {
    background-color: #fffacd;
}